{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">{% endblock extra_css %}
{% block content %}
<header>
    <div id="top-logo">
        <h1 id="logo"><i class="fal fa-utensils"></i> <span id="fam">Fam</span><span id="recipes">Recipes</span><span id="dot-net">.net</span></h1>
    </div>
    <h3 class="logo"><i class="far fa-lock-alt"></i> Password Reset</h3>
    <section id="pw-reset-form">
        <span>Enter your email address to receive password reset instructions.</span>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div class="form-buttons">
                <input type="submit" value="Send" class="btn">
            </div>
        </form>
    </section>
</header>
{% endblock content %}
