#profile {
    max-width: 1100px;
    width: 100%;
    background-color: var(--medium-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-areas: 
        'picture name username date-joined'
        'picture date-of-birth birthplace last-login'
        'picture edit-profile edit-profile edit-profile'
        'my-recipes fav-recipes fav-recipes fav-recipes';
}

#picture {
    grid-area: picture;
    display: flex;
    justify-content: center;
}

#name {
    grid-area: name;
    padding-left: 20px;
}

#username {
    grid-area: username;
    padding-left: 20px;
}

#date-of-birth {
    grid-area: date-of-birth;
    padding-left: 20px;
}

#birthplace {
    grid-area: birthplace;
    padding-left: 20px;
}

#last-login {
    grid-area: last-login;
    padding-left: 20px;
}

#date-joined {
    grid-area: date-joined;
    padding-left: 20px;
}

#fav-recipes {
    grid-area: fav-recipes;
    padding-top: 20px;
    padding-left: 20px;
}

#my-recipes {
    grid-area: my-recipes;
    padding-top: 20px;
    padding-left: 20px;
}

#edit-profile {
    grid-area: edit-profile;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#profile div {
    padding: 10px 10px 10px 0px;
}

#picture img {
    max-width: 500px;
    max-height: 100%;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

#picture i {
    margin: 50px 150px;
    color: var(--primary-color);
}

.data {
    word-wrap: break-word;
}

#fav-recipes i,
#my-recipes i {
    margin-left: 5px;
    color: var(--primary-color);
}

#fav-recipes a,
#my-recipes a {
    color: white;
}

#fav-recipes li,
#my-recipes li {
    padding-bottom: 8px;
}

#fav-recipes li:last-child,
#my-recipes li:last-child {
    padding-bottom: 0px;
}

/* #fav-recipes span#edit-favs i {
    margin-left: 5px;
    font-size: 1.2rem;
} */
