#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
}

#content h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

#content a {
    margin: 10px 0;
}

#content .btn {
    width: 230px;
}

section#content input[type="submit"] {
    margin-top: 10px;
}

#current-ingredients,
#current-directions {
    background-color: var(--medium-color);
    border-radius: 5px;
    padding: 10px;
}

#current-ingredients ul,
#current-directions ul {
    margin-top: 15px;
}

#current-ingredients ul li,
#current-directions ul li {
    margin-top: 3px;
    padding: 2px;
}

#current-ingredients ul li:hover,
#current-directions ul li:hover {
    background-color: var(--dark-color);
}

#current-ingredients ul li:hover .edit-btn,
#current-directions ul li:hover .edit-btn {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

.messages {
    margin-top: 10px;
}

a.edit-btn {
    margin-left: 5px;
    background-color: var(--dark-color);
    border-radius: 2px;
    padding: 1px 5px;
    font-size: .9rem;
}

.ing-row,
.dir-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ing-row .ing-col,
.dir-row .dir-col {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.ing-row .edit-col,
.dir-row .edit-col {
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
}
