<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    {% block meta %}{% endblock meta %}
    <title>{% block title %}{% endblock title %} - FamRecipes.net</title>
    <script src="https://kit.fontawesome.com/df95faeb60.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
    <link rel="stylesheet" href="{% static '/css/utilities.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static '//images/favicon.ico' %}" type="image/x-icon">
    <!-- Fav Icons  -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '//images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '//images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '//images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{% static '/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Fav Icons  -->
</head>
<body>
    {% if user.is_authenticated %}
    <div id="sideNavOpen" class="side-nav-tab" onclick="openMenu()">
        <div class="side-nav-tab-text"><i class="fas fa-chevron-double-right"></i></div>
    </div>
    <div id="sideNavClose" class="side-nav-tab-close" onclick="closeMenu()">
        <div class="side-nav-tab-close-text"><i class="fas fa-chevron-double-left"></i></div>
    </div>
    <div class="side-nav" id="sideNav">
        <ul>
            <li><a href="{% url 'recipes:my-try-list' %}">My Try List</a></li>
            <li><a href="{% url 'meal_menu:my-meal-menu' %}">My Meal Menu</a></li>
            <li><a href="{% url 'meal_menu:my-shopping-list' %}">My Shopping List</a></li>
            <li><a href="{% url 'recipes:my-recipes' %}">My Recipes</a></li>
            <li><a href="{% url 'recipes:my-favorites' %}">My Favorites</a></li>
        </ul>
    </div>
    {% endif %}
{% block content %}{% endblock content %}
{% if user.is_authenticated %}
<script src="{% static 'js/side-nav.js' %}"></script>
{% endif %}
<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
