{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Direction {% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static '/css/recipe-share.css' %}" type="text/css">{% endblock extra_css %}
{% block content %}
{% include 'nav-bar.html' %}
<main>
    <section id="heading">
        <h2><i class="far fa-directions"></i> Edit Direction</h2>
    </section>
    <div class="container">
        <section id="form">
            {% if steps %}
            <div id="current-directions">
                <span class="heading">Current Directions</span>
                <ul>
                    {% for step in steps %}
                    <li>{{ step.step_number }}. {{ step.directions }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.step_number.errors }}
                    {{ form.step_number }}
                </div>
                <div class="form-group">
                    {{ form.directions.errors }}
                    {{ form.directions }}
                </div>
                {{ form.recipe }}
                <div id="form-buttons">
                    <input class="btn" type="submit" value="Update Direction">
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock content %}
    
    