{% extends 'base.html' %}
{% load static %}
{% block title %}Add Ingredients {% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/recipe-share.css' %}" type="text/css">{% endblock extra_css %}
{% block content %}
{% include 'nav-bar.html' %}
<main>
    <section id="heading">
        <h2><i class="far fa-cogs"></i> Ingredients</h2>
    </section>
    <div class="container">
        <section id="form">
            {% if ing_list %}
            <div id="current-ingredients">
                <h4>{{ recipe.title }} Recipe</h4>
                <span class="heading">Current Ingredients</span>
                <ul>
                    {% for item in ing_list %}
                    <li>
                        <div class="ing-row">
                            <div class="ing-col">
                                {{ item.ingredient }}
                            </div>
                            <div class="edit-col">
                                <a class="edit-btn" href="{% url 'recipes:edit-ingredient' pk=item.pk %}">Edit</a>
                                <form method="POST" action="{% url 'recipes:delete-ingredient' pk=item.pk recipe=recipe.pk %}">
                                    {% csrf_token %}
                                    <a href="#" class="edit-btn" onclick="this.closest('form').submit()">Delete</a>
                                </form>
                            </div>
                                
                        </div></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li class="message-success">{{message}}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.ingredient.errors }}
                    <label for="id_ingredient">Ingredient</label>
                    {{ form.ingredient }}
                </div>
                {{ form.recipe }}
                <div id="form-buttons">
                    <div>
                        <input class="btn" type="submit" value="Save Ingredient">
                    </div>
                    <div>
                        <a href="{% url 'recipes:sharing' pk=recipe.pk %}" class="btn btn-terciary">Done with Ingredients</a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>

{% endblock content %}
    
    