{% extends 'base.html' %}
{% load static %}
{% block title %}{{recipe.title}}{% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static '/css/recipe-detail.css' %}" type="text/css">{% endblock extra_css %}
{% block content %}
<!-- nav -->
    {% include 'nav-bar.html' %}
<!-- nav -->
<main>
    <section id="heading">
        <h2><i class="far fa-pie"></i> Recipe Details</h2>
    </section>
    <div class="container">
        <div id="recipe">
            
            <section id="picture">
                {% if recipe.picture %}
                <img src="{{ recipe.picture.url }}" alt="{{ recipe.title }}">
                {% else %}
                <i class="fal fa-camera-alt fa-10x"></i>
                {% endif %}
            </section>
            <section id="title">
                <h3>{{ recipe.title }}</h3>
                <div class="add-to-favs">
                    {% if is_favorite %}
                    <a href="{% url 'recipes:remove-from-favs' slug=recipe.slug %}" aria-label="Remove from Favorites"><i class="fas fa-heart"></i></a><span class="add-to-favs-text">Remove from Favorite Recipes</span>
                    {% else %}
                    <a href="{% url 'recipes:add-to-favs' slug=recipe.slug %}" aria-label="Add to Favorites"><i class="far fa-heart"></i></a><span class="add-to-favs-text">Save to Favorite Recipes</span>
                    {% endif %}
                </div>
                <p>by {{ recipe.contributor.get_full_name }} <a class="profile-link" href="{% url 'users:profile' slug=recipe.contributor.slug %}" aria-label="Contributor Profile"><i class="fas fa-link"></i></a></p>
                {% if user == recipe.contributor or user.is_superuser %}
                <p><a class="edit-btn" href="{% url 'recipes:sharing' pk=recipe.pk %}">Edit Recipe</a></p>
                {% endif %}
            </section>
            <section id="description">
                <span class="heading">Description</span>
                <p>{{ recipe.description|linebreaks }}</p>
            </section>
            <section id="ingredients">
                <span class="heading">Ingredients</span>
                <ul>
                    {% for ingredient in recipe.ingredients.all %}
                    <li>
                        <div>
                            <div><span class="icon"><i class="far fa-cogs"></i></span></div>
                            <div>{{ ingredient.ingredient }}</div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </section>
            <section id="steps">
                <span class="heading">Directions</span>
                <ul>
                    {% for step in recipe.steps.all %}
                    <li class="step">
                        <div>
                            <div><span class="icon"><i class="far fa-directions fa-lg"></i></span></div>
                            <div><span class="step-directions">{{ step.directions }}</span></div>
                        </div>
                   </li> 
                   {% endfor %}
                </ul>
            </section>
            <section id="prep-time">
                <span class="heading">Prep Time</span>
                <p><span class="icon"><i class="far fa-clock"></i></span>{{ recipe.prep_time }} minutes</p>
            </section>
            <section id="cook-time">
                <span class="heading">Cook Time</span>
                <p><span class="icon"><i class="far fa-clock"></i></span>{{ recipe.cook_time }} minutes</p>
            </section>
            <section id="servings">
                <span class="heading">Servings</span>
                <p><span class="icon"><i class="fas fa-hashtag"></i></span>{{ recipe.servings }}</p>
            </section>
            <section id="special-notes">
                <span class="heading">Special Notes</span>
                <p>{{ recipe.special_notes|linebreaks }}</p>
            </section>
            <section id="categories">
                <span class="heading">Categories</span>
                <ul>
                    {% for category in recipe.categories.all %}
                    <li>{{ category }}</li>
                    {% endfor %}
                </ul>
            </section>
            <section id="comments">
                <span class="heading">Comments</span>
                <div class="comments-wrapper">
                    {% for comment in recipe.comments.all %}
                    <div class="comment">
                        {{ comment.comment }} <span class="comment-by">by {{ comment.user }}</span>
                        {% if comment.replies %}
                            {% for reply in comment.replies.all %}
                            <div class="reply">
                                {{ reply.reply }}<span class="comment-by"> by {{ reply.user }}</span>
                            </div>
                            {% endfor %}
                        {% endif %}
                            <div>
                                <a href="{% url 'recipes:add-comment-reply' pk=comment.pk %}"><span class="comment-reply">Reply to Comment</span></a>
                            </div>
                    </div>
                    {% empty %}
                    <div class="comment">
                    {% if user != recipe.contributor %}
                    Nothing to see here! Why not leave a comment?
                    {% else %}
                    Thank you for sharing your recipe!
                    {% endif %}
                    </div>
                    {% endfor %}
                    {% if user != recipe.contributor %}
                    <a href="{% url 'recipes:add-comment' slug=recipe.slug %}" class="btn btn-secondary">Add Comment</a>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</main>
{% endblock content %}
